@font-face {
    font-family: "adso";
    src: url(../fonts/Adso-Bd.otf);
}

@font-face {
    font-family: "ahamono";
    src: url(../fonts/AHAMONO-Monospaced.ttf);
}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	background-color: #282828;
	font-family: "ahamono";
	font-size: 16px;
	color: #fff;
}

header {
	position: fixed;
	left: -100px; bottom: 100px;

}

header h1 {
	width: 100%;
	font-family: "adso";
	font-size: 25px;
	color: #fff;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-decoration: none;
	transform: rotate(-90deg); 
}

header span {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 25px;
	color: #ff008f;
}

header a {
	font-family: "ahamono", "courier new", courier, monospace;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: none;
}

section {
	padding: 0 0 0 50px;
}

.container {
	position: relative;
	width: 1000px; max-width: 100%;
	margin: 0 auto;
}

.intro {
	width: 100%;
}

.intro h2 {
	position: absolute;
	width: 500px; max-width: 100%;
	left: 0;
	padding: 20% 0 0 0;
	font-family: "adso";
	font-size: 70px;
	color: #fff;
	z-index: 20;

	transition: font-size .4s, padding .4s;
}

.intro .hero {
	max-width: 100%;
	margin: 0 0 0 20%;
	padding: 10% 0 40px 0;
	text-align: right;
}

.s {
	height: 100%; width: 100%;
}

@media screen and (max-width: 1100px) {
	.intro h2 {
		padding: 20% 5%;
		font-size: 60px;
	}
}


@media screen and (max-width: 600px) {
	.intro h2 {
		font-size: 45px;
	}
}


